@import url("./fonts.global.css");

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-brauny: #783F1B;
  --color-primary: #0056b3;
  --color-valid: limegreen;
  --color-invalid: red;

  --border-primary: #0056b3;
  --border-gray: 1px solid gray;
  --border-f1: 1px solid #ccc;

  --background-white: #ffffff;
  --background-primary: #007bff;
  --background-f1: #f9f9f9;
  --background-f2: #6c757d;

  --box-shadow-f1: 0 0 10px rgba(0, 0, 0, 0.1);

  --body-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
oL {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  font-size: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
  height: auto;
  font-size: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-family: var(--body-font);
  background-color: #eaeaea; 
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 65px;
}
