.container {
    margin-top: 20px;
    margin-bottom: 20px;
   
  }
  
  .card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card-title {
    font-size: 24px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 10px;
  }
  
  .card-text strong {
    color: #495057;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
  
  .in-stock {
    color: #28a745;
    font-weight: bold;
  }
  
  .not-in-stock {
    color: #dc3545;
    font-weight: bold;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .button {
    min-width: 100px;
    font-size: 1rem;
    padding: 10px;
  }

  .imageContainer {
    position: relative;
    display: inline-block;
  }
  
  .addImageContainer {
    position: relative;
  }
  
  .addImageButton {
    position: absolute;
    bottom: 15px;
    right: -5px;
    font-size: 24px !important;
    font-weight: bold !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: none !important;
    border-radius: 50% !important;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    transition: background-color 0.3s !important;
  }
  
  .addImageButton:hover {
    background-color: rgba(0, 0, 0, 0.8) !important;
    cursor: pointer !important;
  }  

  @media (max-width: 768px) {
    .card-title {
      font-size: 20px;
    }
  
    .card-text {
      font-size: 14px;
    }
    
    .container {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  